<mat-card tabindex="0" class="card">
  <mat-card-title-group>
    <mat-card-title>Setup </mat-card-title>
    <mat-card-title>Your previous highscore was 8!</mat-card-title>
  </mat-card-title-group>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="changeCategorySelection($event)">
      <mat-option *ngFor="let category of categories" [value]="category.value">{{category.category}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Difficulty</mat-label>
    <mat-select (selectionChange)="changeDifficultySelection($event)">
      <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.difficulty">{{difficulty.difficulty}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select (selectionChange)="changeTypeSelection($event)">
      <mat-option *ngFor="let type of types" [value]="type.value">{{type.type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions id="btnDiv">
    <button mat-flat-button color="primary" [routerLink]="['question']">Start</button>
  </mat-card-actions>
</mat-card>
