:host > mat-card{
  width: fit-content;
}
button{
  margin: 5px;
}
.green {
  background-color: green;
}

.red {
  background-color: red;
}

:host{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
